body {
    background-color:rgb(253, 251, 251);
    height: 100%;
    padding: 200px 0 ;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
    background-color: green;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 98%;
}

#cabecalho a {
    text-decoration: none;
    color: white;
}

#cabecalho ul {
    list-style-type: none;
    padding: 0;
}

#cabecalho a:hover {
    color: black;
}

main {
    padding: 10px;
    margin: 10px;
}

main ol, ul{
    display: inline-block;
    padding: 20px;  
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article, aside {
    width: 500px;
    border: 1px dashed black;
}

#titulo {
    margin: auto;
    text-align: center;
    padding: 10px;
}

#rodape {
    padding: 1rem;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 1rem;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}